.bg {
    /* The image used */
    background-image: url("/assets/images/backgroundHome.jpeg");
  
    /* Full height */
    min-height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    color: #f17a7a;
  }